.footer{
    position: fixed;
    bottom: 0;
    width: 1440px;
    height: 209px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.footer_texte{
    color: white;
    font-family: 'Montserrat', sans-serif;
}