@import './variables.scss' ;
.header{
    margin: 25px auto;
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:210px;
    height: 68px;
    top:50px;
}
.navbar{
    width: 309px;
    display: flex;
    justify-content: flex-end;
}
.navbar-item{
    margin-left: 50px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color:$black;
    &:hover{
        color: $primary;
    }
    &:active{
        border-bottom: 1px solid $black;
    }
}